synthetic-data/interactomes/threshold-interactomes/human_interactome-200.txt filter=lfs diff=lfs merge=lfs -text
synthetic-data/interactomes/threshold-interactomes/human_interactome-1.txt filter=lfs diff=lfs merge=lfs -text
synthetic-data/interactomes/threshold-interactomes/human_interactome-100.txt filter=lfs diff=lfs merge=lfs -text
