hash_length: 7

containers:
  registry:
    base_url: docker.io
    owner: reedcompbio
  framework: docker
  unpack_singularity: false

reconstruction_settings:
  locations:
    reconstruction_dir: "output"

analysis:
  summary:
    include: false
  cytoscape:
    include: false
  ml:
    include: true
    aggregate_per_algorithm: true
  evaluation:
    include: false

# Custom settings
algorithms:
  - name: "omicsintegrator1"
    params:
      include: true
      run1:
        b: [2]
        w: [.5]
        d: [10]
        mu: [2]
  - name: "omicsintegrator2"
    params:
      include: true
      run1:
        b: [4]
        g: [0]

datasets:
  # TODO: use old paramaters for datasets
  # HIV: https://github.com/Reed-CompBio/spras-benchmarking/blob/0293ae4dc0be59502fac06b42cfd9796a4b4413e/hiv-benchmarking/spras-config/config.yaml
  - label: dmmmhiv060
    node_files: ["processed_prize_060.txt"]
    edge_files: ["phosphosite-irefindex13.0-uniprot.txt"]
    other_files: []
    data_dir: "datasets/hiv/processed"
  - label: dmmmhiv05
    node_files: ["processed_prize_05.txt"]
    edge_files: ["phosphosite-irefindex13.0-uniprot.txt"]
    other_files: []
    data_dir: "datasets/hiv/processed"
  - label: dmmmyeast
    # Yeast: https://github.com/tristan-f-r/spras-benchmarking/blob/9477d85871024a5e3a4b0b8b9be7e78c0d0ee961/yeast-osmotic-stress/config.yaml
    node_files: ["prizes1_dummies.txt"]
    edge_files: ["network1.txt"]
    other_files: []
    data_dir: "datasets/yeast-osmotic-stress/processed"
