---
import BaseLayout from "../../layouts/BaseLayout.astro"
import { getStaticPaths } from "./[type]-[name]/index.astro"
import Colors from '../../components/Colors.astro';
---

<Colors />
<BaseLayout>
    <h1>Type-Datasets</h1>

    <p>This contains analysis associated with datasets running on a particular algorithm type.</p>

    <ul>
        {getStaticPaths().map(({ params: { type, name }}) => (<li>
            <a href={`/spras-benchmarking/type-dataset/${type}-${name}/`}>
                <span class="color-1-dark">{type}</span>-<span class="color-2-dark">{name}</span>
            </a>
        </li>))}
    </ul>
</BaseLayout>
